@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&display=swap');

html {
  font-family: 'Inconsolata', monospace;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background:
          linear-gradient(101deg, rgba(203,43,19,1) 20%, rgba(230,94,52,1) 80%);
}