
.type-summary-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h4 {
    margin-bottom: 0;
    margin-top: 0
  }

  h5 {
    min-width: 150px;
  }

  .strengths {
    min-width: 30rem;
    margin: 2rem;
    border-radius: 10px;
    padding: 1rem;
  }

  .weaknesses {
    min-width: 30rem;
    margin: 2rem;
    border-radius: 10px;
    padding: 1rem;
  }
}

.typeSummaryContent {
  display: flex;
  flex-direction: column;

  & div {
    justify-content: flex-start;

    & div {
    }
  }
}